#title{
    background-image: url(./mountain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif Display',serif;
    color: antiquewhite;
    height: 60vh;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
}
#skills .container{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  text-align: center;
}
#skills h3{
  margin-top: 10px;
}
@media (min-width: 600px){    

#skills .container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2.5fr;
  gap: 25px;
  width: 50%;
  margin: auto;
  text-align: left;
}
}

#feature>div{
  background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
}
#jumbo{
    border-radius: 50%;
}
.aboutme{
    text-align: center;
}
#skills{
  background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
}
#skills h2{
  color: black;
  font-weight: bolder;
  margin: 20px;
  text-align: center;
}
#skills h3{
  color: black;
  font-weight: bold;
}
#skills{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#contact{
  background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
  border-bottom: 5px solid black;
}
.btn{
  color: aliceblue;
  background: #11cdd4;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
#footer{
    height: 15vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: antiquewhite;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: antiquewhite;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: antiquewhite;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: antiquewhite;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: antiquewhite;
    }
  }
  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    50% { transform: rotate(-8.0deg) }
    50% { transform: rotate(14.0deg) }
  }